header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgb(51, 78, 226);
    color: #FFF;
}

.partial {
    border: 1px yellow;
    padding: 15px;
}

table th {
    background-color: #74acf5;
    padding: 10px 20px;
}

table td {
    background-color: #b5d4f7;
    padding: 10px 20px;
}

.notice {
    background-color: #ccf;
    padding: 5px;
}